     <div class="logo"></div>
     <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed" [nzInlineIndent]="15">
       <li nz-menu-item>
         <span><i nz-icon type="user"></i><span class="nav-text">nav 1</span></span>
       </li>
       <li nz-menu-item>
         <span><i nz-icon type="video-camera"></i><span class="nav-text">nav 2</span></span>
       </li>
       <li nz-menu-item>
         <span><i nz-icon type="upload"></i><span class="nav-text">nav 3</span></span>
       </li>
       <li nz-menu-item>
         <span><i nz-icon type="user" nzTheme="outline"></i><span class="nav-text">nav 4</span></span>
       </li>
     </ul>